<div class="page-title">Recetas uniandes</div>

<div class="recipe-grid">

  <div *ngFor="let r of recipes" class="recipe-card">

    <img [src]="r.imagen" alt="{{ r.nombre }}" class="recipe-img"/>

    <h3 class="recipe-name">{{ r.nombre }}</h3>

    <ul class="recipe-ingredients">
      <li *ngFor="let ing of r.ingredientes.slice(0,3)">
        {{ ing.nombre }}
      </li>
    </ul>

    <div class="recipe-info">
      <strong>Porciones:</strong> {{ r.porciones }}
      <p><strong># Ingredientes:</strong> {{ r.ingredientes.length }}</p>

    </div>

    <button class="btn-view" [routerLink]="['/recipe', r.id]">
      Ver la receta
    </button>

  </div>

</div>
