<h1 class="text-center mt-3">Recetas uniandes</h1>

<div class="detail-container">

  <!-- Imagen -->
  <img [src]="recipe?.imagen" alt="recipe image" class="detail-image" />

  <!-- Información -->
  <div class="detail-info">
    <h2>{{ recipe?.nombre }}</h2>

    <p><strong>Porciones:</strong> {{ recipe?.porciones }}</p>
    <p><strong>Tiempo:</strong> {{ recipe?.tiempo_minutos }} min</p>
    <p><strong>Dificultad:</strong> {{ recipe?.dificultad }}</p>
    <p><strong>Tipo:</strong> {{ recipe?.tipo }}</p>

    <div>
      <p class="section-title">Ingredientes</p>

      <!-- Punto 4: ingrediente con mayor cantidad -->
      <p><strong>Ingrediente más usado:</strong> {{ maxIngredient }}</p>

      <!-- Lista de ingredientes -->
      <ul>
        <li *ngFor="let ing of recipe?.ingredientes">
          {{ ing.nombre }} - {{ ing.cantidad }} {{ ing.unidad }}
        </li>
      </ul>
    </div>

    <div>
      <p class="section-title">Pasos</p>
      <ol>
        <li *ngFor="let p of recipe?.pasos">{{ p }}</li>
      </ol>
    </div>

    <!-- Botón para regresar al listado -->
    <button class="btn btn-primary" routerLink="/recipe">Regresar</button>
  </div>
</div>
